@font-face {
  font-family: Future Earth;
  src: url(future_earth/Future\ Earth\ v2.ttf);
}

* {
  margin: 0px;
}

body {
  background-color: black;
  overflow: hidden;
  color: rgb(187, 187, 187);
  font-size: 10px;
  -webkit-user-drag: none;
  user-select: none;
}

#bgimg {
  -webkit-user-drag: none;
}

#bgimg {
  position: absolute;
  height: 150%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.window {
  position: absolute;
  width: calc(25% + 0px);
  height: calc(33.33% + 0px);
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  background-color: rgb(37, 37, 37);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.247);
}

.topBar {
  height: 30px;
  background-color: rgb(75, 75, 75);
  font-family: Future Earth;
}

.xButton {
  float: right;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 0, 0, 0);
}

.xButton:hover {
  background-color: rgba(255, 0, 0, 0.582);
}

.xOverlay {
  position: absolute;
  top: 0px;
  width: inherit;
  height: inherit;
}

.bsButton {
  float: right;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 0, 0, 0);
}

.bsButton:hover {
  background-color: rgba(172, 172, 172, 0.274);
}

.bsOverlay {
  position: absolute;
  top: 0px;
  width: inherit;
  height: inherit;
}

.topBarOverlay {
  position: absolute;
  top: 0px;
  width: calc(100% - 50px);
  height: inherit;
}

.title {
  float: left;
  position: relative;
  top: 50%;
  transform: translate(5px, -50%);
}

.content {
  width: 100%;
  height: calc(100% - 30px);
  user-select: all;
  overflow: hidden;
}

#ball {
  position: relative;
  font-size: 25px;
  left: -125px;
  top: -125px;
  width: 200px;
  text-align: center;
  height: 200px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
}

#ball span {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
}

.rect {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 75px);
  width: 150px;
  height: 100px;
  background-color: blue;
  border: 2px solid black;
}

#rects {
  width: 100%;
  height: 100%;
}

#taskBar {
  position: absolute;
  top: calc(100% - 40px);
  width: 100%;
  height: 40px;
  background-color: rgb(27, 27, 27);
}

.tbIcon {
  position: relative;
  height: 40px;
  width: 50px;
  float: left;

}

.tbIconContent {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  float: left;
}

.tbIcon:hover {
  background-color: rgb(63, 63, 63);

}

.tbIconOverlay {
  position: absolute;
  height: inherit;
  width: inherit;
}

#cmdPrefix, #cmdInput {
  width: fit-content;
  float: left;
  font-size: 17px;
  font-family: 'Anonymous Pro';
  outline: none;
}

#cmdContentBox p {
  font-size: 17px;
  font-family: 'Anonymous Pro';

}

#cmdPrefix {
  margin-right: 9px;
}

#cmdContentBox, #cmdInputBox {
  font-family: 'Anonymous Pro';
  font-size: 13px;
  overflow: hidden;
}

#cmdContent::-webkit-scrollbar {
  width: 10px
}

#cmdContent::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0)
}

#cmdContent::-webkit-scrollbar-thumb {
  background-color: rgb(68, 68, 68)
}

#cmdContent {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.877);
}

#cmdStretcher {
  height: calc(100% - 17px);
}
